<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mantrimalladmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".ServerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".InnerActivities.ComplaintsActivity"
            android:exported="false" />
        <activity
            android:name=".InnerActivities.RequestsActivity"
            android:exported="false" />
        <activity
            android:name=".InnerActivities.UserDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".InnerActivities.UserActivity"
            android:exported="false" />
        <activity
            android:name=".HomeDrawerActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InnerActivities.LotteryResultActivity"
            android:exported="false" />
        <activity
            android:name=".InnerActivities.LotteryActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>